menu "Power system configuration (AXP192)"

menu "Output control"
    config AXP192_DCDC13_LDO23_CONTROL_BIT6_SELECTED
        bool "Enable EXTEN"
    config AXP192_DCDC13_LDO23_CONTROL_BIT4_SELECTED
        bool "Enable DC-DC2"
    config AXP192_DCDC13_LDO23_CONTROL_BIT3_SELECTED
        bool "Enable LDO3"
    config AXP192_DCDC13_LDO23_CONTROL_BIT2_SELECTED
        bool "Enable LDO2"
    config AXP192_DCDC13_LDO23_CONTROL_BIT1_SELECTED
        bool "Enable DC-DC3"
    config AXP192_DCDC13_LDO23_CONTROL_BIT0_SELECTED
        bool "Enable DC-DC0"
endmenu

config AXP192_EXTEN_DCDC2_CONTROL_BIT2
    hex
    default 0x00 if !AXP192_DCDC13_LDO23_CONTROL_BIT6_SELECTED
    default 0x04 if AXP192_DCDC13_LDO23_CONTROL_BIT6_SELECTED

config AXP192_EXTEN_DCDC2_CONTROL_BIT0
    hex
    default 0x00 if !AXP192_DCDC13_LDO23_CONTROL_BIT4_SELECTED
    default 0x01 if AXP192_DCDC13_LDO23_CONTROL_BIT4_SELECTED

config AXP192_DCDC13_LDO23_CONTROL_BIT6
    hex
    default 0x00 if !AXP192_DCDC13_LDO23_CONTROL_BIT6_SELECTED
    default 0x40 if AXP192_DCDC13_LDO23_CONTROL_BIT6_SELECTED

config AXP192_DCDC13_LDO23_CONTROL_BIT4
    hex
    default 0x00 if !AXP192_DCDC13_LDO23_CONTROL_BIT4_SELECTED
    default 0x10 if AXP192_DCDC13_LDO23_CONTROL_BIT4_SELECTED

config AXP192_DCDC13_LDO23_CONTROL_BIT3
    hex
    default 0x00 if !AXP192_DCDC13_LDO23_CONTROL_BIT3_SELECTED
    default 0x08 if AXP192_DCDC13_LDO23_CONTROL_BIT3_SELECTED

config AXP192_DCDC13_LDO23_CONTROL_BIT2
    hex
    default 0x00 if !AXP192_DCDC13_LDO23_CONTROL_BIT2_SELECTED
    default 0x04 if AXP192_DCDC13_LDO23_CONTROL_BIT2_SELECTED

config AXP192_DCDC13_LDO23_CONTROL_BIT1
    hex
    default 0x00 if !AXP192_DCDC13_LDO23_CONTROL_BIT1_SELECTED
    default 0x02 if AXP192_DCDC13_LDO23_CONTROL_BIT1_SELECTED

config AXP192_DCDC13_LDO23_CONTROL_BIT0
    hex
    default 0x00 if !AXP192_DCDC13_LDO23_CONTROL_BIT0_SELECTED
    default 0x01 if AXP192_DCDC13_LDO23_CONTROL_BIT0_SELECTED

menu "Output voltage"
    config AXP192_LDO23_VOLTAGE_BIT74
        hex "LDO2 output voltage"
        default 0x00
        help
            0x0f - 3.3V
            ... (100mV / step)
            0x00 - 1.8V

    config AXP192_LDO23_VOLTAGE_BIT30
        hex "LDO3 output voltage"
        default 0x00
        help
            0x0f - 3.3V
            ... (100mV / step)
            0x00 - 1.8V
endmenu

endmenu
